@use "fonts.scss";
@use "bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: ('Roboto', sans-serif),
  $font-family-base: ('Roboto', sans-serif)
);

@use "bootstrap-icons/font/bootstrap-icons" with (
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts"
);

.w-397 {
  width: 397px;
  max-width: 100%;
}

.w-1221 {
  max-width: 1221px;
}

.mb-6 {
  margin-bottom: 3.75rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.icon {
  font-size: 1.25rem;
  line-height: 1;
}

.icon-wrapper {
  width: 42px;
  justify-content: center;
}

/* Базовое состояние иконки */
.arrow-icon {
  transition: transform 0.3s ease;
}

/* меню адаптив  */
.btn-toggle:not(.collapsed) {
  background-color: var(--bs-primary);
  color: white;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-toggle:not(.collapsed) .arrow-icon {
  transform: rotate(90deg);
}


/* Эффект при наведении на ссылки внутри выпадающего списка */
a.nav-link:hover, .nav-item .btn-toggle:hover {
  background-color: var(--bs-primary) !important;
  color: white !important;

}

.btn-toggle-nav a.nav-link:hover {
  border-radius: 0 !important;
}

/* таблица transactions */
.table-wrapper {
  flex-grow: 0;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.table-scroll {
  max-width: 1221px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: block;
  min-width: 0;
}


/*линия между графиками charts */
@media (min-width: 576px) {
  .chart-divider::after {
    content: "";
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 20px;

    width: 1px;
    background-color: #D9D9D9;
  }
}


