<div class=" mt-5 overflow-x-hidden">
    <h1 class="mb-4 text-primary-emphasis">Главная</h1>

    <div class="d-flex flex-wrap flex-lg-nowrap align-items-center gap-1 gap-sm-2 w-100 mb-3 mb-md-5
">
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0">
            <button type="button" class="btn btn-secondary">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary">Неделя</button>
            <button type="button" class="btn btn-outline-secondary">Месяц</button>
        </div>
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0 ">
            <button type="button" class="btn btn-outline-secondary">Год</button>
            <button type="button" class="btn btn-outline-secondary">Все</button>
            <button type="button" class="btn btn-outline-secondary">Интервал</button>
        </div>
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0 ">
            <span>с</span>

            <div class="position-relative d-inline-block">
                <a href="#" class="text-secondary date-link" data-target="dateFrom">Дата</a>
                <input type="date" name="Дата" id="dateFrom" class="position-absolute top-100 start-0 invisible mt-0">
            </div>
            <span>по</span>
            <div class="position-relative d-inline-block">
                <a href="#" class="text-secondary date-link" data-target="dateTo">Дата</a>
                <input type="date" name="Дата" id="dateTo" class="position-absolute top-100 start-0 invisible mt-0">
            </div>
        </div>
    </div><div class="container-fluid p-0 " >
    <div class="row g-0">

      <div class="col-12 col-sm-6 text-center mb-5 mb-sm-0 position-relative chart-divider">
            <h4 class="fw-bold text-primary-emphasis mb-3">Доходы</h4>
            <div class="mx-auto" style="max-width: 437px; aspect-ratio: 1 / 1;">
                <canvas id="incomeChart"></canvas>
            </div>
        </div>

      <div class="col-12 col-sm-6 text-center">
            <h4 class="fw-bold text-primary-emphasis mb-3">Расходы</h4>
            <div class="mx-auto" style="max-width: 437px; aspect-ratio: 1 / 1;">
                <canvas id="expenseChart"></canvas>
            </div>
        </div>
    </div>
</div>





</div>