<div class="d-flex justify-content-center align-items-center min-vh-100 w-100">
    <div class="text-center w-397">
    <img class="img-fluid mb-6" src="/images/logo.png" alt="">
    <h1 class="mb-4 text-primary-emphasis">Вход</h1>
        <div id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>

        <div class="input-group has-validation mb-2">
            <span class="input-group-text text-secondary bg-secondary-subtle" id="email-label"><i class="bi bi-envelope-open"></i></span>
            <input id="email" type="text" class="form-control text-secondary" placeholder="Электронная почта" aria-label="Email" aria-describedby="email-label">
            <div id="validationServerEmailFeedback" class="invalid-feedback">
                Введите корректный email
            </div>
        </div>
        <div class="input-group has-validation mb-2">
            <span class="input-group-text text-secondary bg-secondary-subtle" id="password-label"><i class="bi bi-lock"></i></span>
            <input id="password" type="password" class="form-control text-secondary " placeholder="Пароль" aria-label="Password" aria-describedby="password-label">
            <div id="validationServerPasswordFeedback" class="invalid-feedback">
               Введите пароль
            </div>
        </div>
        <div class="form-check text-start d-flex align-items-center fs-12 ">
            <input class="form-check-input mt-0 me-2" type="checkbox" value="" id="checkRememberMe">
            <label id="remember-me-cbx" class="form-check-label " for="checkRememberMe">
                Запомнить меня
            </label>
        </div>
    <button class="btn btn-primary w-100 mt-3 mb-2" id="process-button">Войти</button>
<div class="d-flex fs-12">
    <div class="me-2">Ещё нет аккаунта?</div>
    <a href="/sign-up">Пройдите регистрацию</a>
</div>

    </div>
</div>