<div class="flex-grow-1 ms-2 ms-md-5 mt-5">
    <h1 class="mb-4 text-primary-emphasis">Расходы</h1>

    <div class="container w-1140 py-4">
        <div class="row g-4" id="expense-container">



        </div>
    </div>



</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-4 text-primary-emphasis">
                Вы действительно хотите удалить категорию? Связанные расходы останутся без категории.
                <div class="d-flex justify-content-center mt-3 gap-2">
                    <button type="button" class="btn btn-success" id="btnConfirmDelete">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>

            </div>

        </div>
    </div>
</div>