<div class="d-grid overflow-hidden">
    <h1 class="mt-5 mb-4 text-primary-emphasis">Доходы и расходы</h1>
    <div class="d-flex flex-wrap mb-5 gap-2">
        <button type="button" class="btn btn-success flex-grow-0 " id="btnCreateIncome">Создать доход</button>
        <button type="button" class="btn btn-danger flex-grow-0 " id="btnCreateExpense">Создать расход</button>
    </div>
    <div class="d-flex flex-wrap align-items-center gap-1 gap-sm-2 w-100 mb-3 mb-md-5">
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0">
            <button type="button" class="btn btn-secondary">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary">Неделя</button>
            <button type="button" class="btn btn-outline-secondary">Месяц</button>
        </div>
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0 ">
            <button type="button" class="btn btn-outline-secondary">Год</button>
            <button type="button" class="btn btn-outline-secondary">Все</button>
            <button type="button" class="btn btn-outline-secondary">Интервал</button>
        </div>
        <div class="d-flex flex-nowrap gap-1 gap-sm-2 mb-2 mb-sm-0 ">
            <span>с</span>

            <div class="position-relative d-inline-block">
                <a href="#" class="text-secondary date-link" data-target="dateFrom">Дата</a>
                <input type="date" name="Дата" id="dateFrom" class="position-absolute top-100 start-0 invisible mt-0">
            </div>
            <span>по</span>
            <div class="position-relative d-inline-block">
                <a href="#" class="text-secondary date-link" data-target="dateTo">Дата</a>
                <input type="date" name="Дата" id="dateTo" class="position-absolute top-100 start-0 invisible mt-0">
            </div>
        </div>
    </div>

    <div class="table-wrapper">
        <div class="table-responsive table-scroll">
            <table class="table text-center align-middle border-top">
                <thead>
                <tr>
                    <th scope="col" class="text-primary-emphasis px-4">№ операции</th>
                    <th scope="col" class="text-primary-emphasis px-4">Тип</th>
                    <th scope="col" class="text-primary-emphasis px-4">Категория</th>
                    <th scope="col" class="text-primary-emphasis px-4">Сумма</th>
                    <th scope="col" class="text-primary-emphasis px-4">Дата</th>
                    <th scope="col" class="text-primary-emphasis px-5">Комментарий</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="text-success">доход</td>
                    <td>зарплата</td>
                    <td>500$</td>
                    <td>11.09.2022</td>
                    <td></td>
                    <td>
                        <div class="d-flex justify-content-center gap-1">
                            <button class="btn py-0 btnDelete" data-id="transaction-id"><i class="bi bi-trash3"></i>
                            </button>
                            <a href="/edit-transaction" class="btn py-0"><i class="bi bi-pencil"></i></a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td class="text-danger">расход</td>
                    <td>жильё</td>
                    <td>2500$</td>
                    <td>12.09.2022</td>
                    <td></td>
                    <td>
                        <div class="d-flex justify-content-center gap-1">
                            <button class="btn py-0"><i class="bi bi-trash3"></i></button>
                            <a href="/edit-transaction" class="btn py-0"><i class="bi bi-pencil"></i></a>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-4 text-primary-emphasis">
                Вы действительно хотите удалить операцию?
                <div class="d-flex justify-content-center mt-3 gap-2">
                    <button type="button" class="btn btn-success" id="btnConfirmDelete">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>

            </div>

        </div>
    </div>
</div>